alembic==0.9.6
amqp==2.2.2
awesome-slugify==1.6.5
banal==0.3.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
bitarray==0.8.1
cachetools==2.0.1
cchardet==1.1.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
datapackage==1.1.4
git+https://github.com/frictionlessdata/datapackage-pipelines.git@1f1b5c8f3b12048190db741db44e09963331a7ee#egg=datapackage-pipelines
git+https://github.com/OpenUpSA/datapackage-pipelines-fiscal.git@5e476ef55a566dd53abec043eab37ab8d58320a8#egg=datapackage-pipelines-fiscal
dataset==1.0.4
et-xmlfile==1.0.1
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Jsonpify==1.5.0
future==0.16.0
goodtables==0.7.6
idna==2.6
ijson==2.3
isodate==0.6.0
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
jsontableschema==0.10.1
kombu==4.1.0
linear-tsv==1.0.0
Mako==1.0.7
MarkupSafe==1.0
mistune==2.0.3
normality==0.5.6
openpyxl==2.4.9
os-gobble==0.1.30
pybloom-live==2.3.1
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
redis==2.10.6
regex==2017.12.5
requests==2.18.4
requests-futures==0.9.7
rfc3986==1.1.0
six==1.11.0
SQLAlchemy==1.1.15
tableschema==1.0.10
tableschema-sql==0.10.3
tabulate==0.8.2
tabulator==1.12.2
tellme==0.2.6
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.22
vine==1.1.4
Werkzeug==0.13
xlrd==1.1.0
